<!DOCTYPE html>
<html>
<head>
  <title>Dogrescue</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Leo's Dog Rescue</a>
        <div class="container">
          <ul class="nav">
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 60px;"></div>

  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
