<h1><%= @dog.name %></h1>

<p>
  <img src="/data/dogs/<%= @dog.thumbnail %>" />
</p>

<p>
  <b>Breed:</b>
  <%= @dog.breed %>
</p>

<p>
  <b>Age:</b>
  <%= @dog.age %>
</p>

<p>
  <b>Description:</b>
  <%= @dog.description %>
</p>

<p>
  <b>Available:</b>
  <%= @dog.available %>
</p>

<h2>Enquiries</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Phone</th>
      <th>Date</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% @dog.enquiries.each do |enquiry| %>
    <tr>
      <td><a href="mailto:<%= enquiry.email %>"><%= enquiry.name %></a></td>
      <td><%= enquiry.phone %></td>
      <td><%= enquiry.created_at %></td>
      <td><%= enquiry.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_admin_dog_path(@dog) %> |
<%= link_to 'Back', admin_dogs_path %>
